body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.imagen {
    width: 500px;
    height: 500px;
}


header {
    background-color: #092e20;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #092e20;
}

img, iframe {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.columnas > div {
    width: 48%;
}

footer {
    background-color: #092e20;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.resize-image {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    max-width: 500px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block; /* Asegura que la imagen sea tratada como un bloque */
    margin: 20px auto; /* Centraliza la imagen y agrega espacio superior e inferior */
    border-radius: 15px; /* Bordes redondeados suaves */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), /* Sombra más profunda */
                inset 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra interna suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

/* Efecto hover para darle un toque interactivo y más elegante */
.resize-image:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8), /* Sombra más pronunciada */
                inset 0 0 15px rgba(255, 255, 255, 0.2); /* Efecto de luz interna */
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 80%; /* Reduce el tamaño a un 80% del contenedor padre */
    margin: 0 auto; /* Centra el video horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil alrededor del video */
    border-radius: 10px; /* Bordes redondeados opcional */
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Bordes redondeados dentro del iframe */
    border: 0;
  }
  